<footer class='ui basic segment'>
  <div class='legal ui basic center aligned segment'>
    <p>
      {{!-- © {{moment date 'YYYY'}}  --}}
      <a href="http://johnhenrybeatsthemachine.com">JHBTM</a>
    </p>
    <p>
      <i class='red heart basic icon'></i>
      <a href="http://seedsjs.com/">Built with Seeds.js</a>
    </p>
    </div>
 </footer>
