<div class="ui inverted fixed red menu page grid">
  {{#link-to 'application' class="header item"}}
    {{name}}
  {{/link-to}}
  <div class="right menu">
    {{link-to 'About' 'about' class="item"}}
  </div>
</div>